.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }

  body{
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/header-background.jpg) center center no-repeat;
    background-size: cover;
  }
  .loginform{
    margin-top: 160px;
  }
  .btn-solid-reg {
    display: inline-block;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border: 0.125rem solid #ffbd50;
    border-radius: 2rem;
    background-color: #ffbd50;
    color: #333;
    font: 600 0.875rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
  }
  
  .btn-solid-reg:hover {
    border: 0.125rem solid #333;
    background-color: transparent;
    color: #333;
    text-decoration: none;
  }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ffbd50;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255, 189, 80 );
  }
  ::selection {
    color: white;
    background: #ffbd50;
  }